.subscribe {
    padding: 43px 0 53px;
    @media screen and (max-width: 991px) {
        padding: 38px 0 52px;
    }
    @media screen and (max-width: 767px) {
        padding: 33px 0 50px;
        background-color: #DFDFDF;
    }
    &__title {
        text-align: center;
        margin-bottom: 45px;
    }
    
    &__form {
        position: relative;
        display: block;
        max-width: fit-content;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            max-width: none;
        }
        
        &-logo {
            position: absolute;
            top: -54px;
            left: -42px;
            width: 83px;
            height: 83px;
            @media screen and (max-width: 767px) {
                top:-44px;
                left: auto;
                right: -10px;
                width: 53px;
                height: 53px;
            }
        }

        &-container {
            display: flex;
            gap: 28px;
            @media screen and (max-width: 767px) {
                flex-direction: column;
                gap: 32px;
            }
        }

        &-input {
            width: 611px;
            background: #FFFFFF;
            border: 1px solid #F06508;
            border-radius: 8px;
            padding: 27px 30px;
            @media screen and (max-width: 767px) {
                width: 100%;
                padding: 19px 23px;
            }
        }

        &-button {
            padding: 28px 79px 28px 89px;
            @media screen and (max-width: 767px) {
                padding: 13px 39px 15px;
                margin: 0 auto;
            }
        }
    }
}