.ico-mono-cart {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.ico-mono-fav {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.ico-mono-geo {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.ico-mono-instagram {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.ico-mono-phone {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-telegram {
  width: 1.15em;
  height: 1em;
  fill: #19232c;
}
.ico-mono-whatsapp {
  width: 1em;
  height: 1em;
  fill: #8dc63f;
}
