- 
    const menu = [
        {
            text: 'Оплата и доставка',
            href: '',
        },
        {
            text: 'О компании',
            href: '',
        },
        {
            text: 'Скидки',
            href: '',
        },
        {
            text: 'Гарантия',
            href: '',
        },
        {
            text: 'Контакты',
            href: '',
        },
    ]

    const menu_categories = [
        {
            text: 'Маяки',
            href: '',
        },
        {
            text: 'Фары-вспышки',
            href: '',
        },
        {
            text: 'Световые балки',
            href: '',
        },
        {
            text: 'Рабочий свет',
            href: '',
        },
        {
            text: 'Светодиодные дорожные знаки',
            href: '',
        },
        {
            text: 'Системы световой индикации',
            href: '',
        },
        {
            text: 'Дополнительное оборудование',
            href: '',
        },
        {
            text: 'Маркерные фонари',
            href: '',
        },
    ]

    const menu_catalog_left = [
        {
            text: 'Проблесковые маяки',
            id: '1',
            href: '',
        },
        {
            text: 'Стробоскопы',
            href: '',
            id: '2',
        },
        {
            text: 'Световые панели',
            href: '',
            id: '3',
        },
        {
            text: 'Рабочий свет',
            href: '',
            id: '4',
        },
        {
            text: 'Дорожные знаки',
            href: '',
            id: '5',
        },
        {
            text: 'Системы световой индикации',
            href: '',
            id: '6',
        },
        {
            text: 'Дополнительное оборудование',
            href: '',
            id: '7',
        },
        {
            text: 'Маркерные фонари',
            href: '',
            id: '8',
        },
    ]