-
    const categories = [
        {
            img: '7', 
            name: 'Маяки'
        },
        {
            img: '4', 
            name: 'Стробоскопы'
        },
        {
            img: '5', 
            name: 'Световые панели'
        },
        {
            img: '6', 
            name: 'Дорожные знаки'
        },
        {
            img: '7', 
            name: 'Рабочий свет'
        },
        {
            img: '4', 
            name: 'Световая индикация'
        },
        {
            img: '5', 
            name: 'Доп. оборудование'
        },
        {
            img: '6', 
            name: 'Маркерные фонари'
        },
    ]