extends ../layouts/default
include ../helpers/_mixins-default
include ../helpers/_mixins-custom

block variables
  - const title = "Каталог"

block content
  include ../../blocks/modules/header/header.pug
  .arrow-up.hidden
    img(src="img/svg/arrow-up.svg", alt="")
  main.main   
    include ../../blocks/modules/catalog/catalog.pug
    include ../../blocks/modules/subscribe/subscribe.pug
  include ../../blocks/modules/popup/popup.pug
  include ../../blocks/modules/footer/footer.pug

block scripts
  script(defer src="./js/vendor.js")
  script(defer src="./js/main.js")
  script(defer src="./js/catalog.js")
