include ../../../blocks/components/button/button.pug

sectiom.marketing 
    
    .l-default
        .marketing__container 
            .marketing__img 
                img(src="img/marketing/1.png", alt="lighting")
            .marketing__wrapper
                .marketing__title.title.title--h2 ЗАГОЛОВОК БЛОКА
                .marketing__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type andscrambled it to make a type specimen book.
                +button.marketing__button(text='Подробнее',href="/")