-
    const sidebar_items = [
        {
            text: 'Спецсигналы (Америка)',
            href: '',
        },
        {
            text: 'Российские спецсигналы',
            href: '',
        },
        {
            text: 'Подкапотные СГУ',
            href: '',
        },
        {
            text: 'Системы  громкой связи',
            href: '',
        },
        {
            text: 'Свето-акустический установки',
            href: '',
        },
        {
            text: 'Световые панели (табло)',
            href: '',
        },
        {
            text: 'Проблесковые маяки',
            href: '',
        },
        {
            text: 'Фары-вспышки',
            href: '',
        },
        {
            text: 'Оборудование для аэропортов',
            href: '',
        },
    ]