- 
    const pluses = [
        {
            logo:'assortment',
            subtitle:'Широкий ассортимент товара',
            text:'Мы всегда сможем подобрать для  вас соответствующую вашим  параметрам и требованиям модель.  Мы регулярно обновляем линейку  предлагаемых вам товаров в поисках  идеалального решения.'
        },
        {
            logo:'wallet',
            subtitle:'Удобная оплата',
            text:'Мы работаем напрямую с производителем.  Это позволяет нам удерживать лояльно низкие цены. Вы можете оплатить заказ  по безналичному расчету, по переводу  и по карте прямо на сайте.'
        },
        {
            logo:'finance',
            subtitle:'Система скидок',
            text:'Мы заинтересованы в том, чтобы ваши  покупки были удобными, и принимаем  меры, чтобы клиенты оставились  довольными. Предлагаем удобную систему скидок!'
        }
    ]
