extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
    - const title = "Спецснаб"

block content
    include ../blocks/modules/header/header.pug
    .arrow-up.hidden
        img(src="img/svg/arrow-up.svg", alt="")
    main.main
        include ../blocks/modules/main-top/main-top.pug
        .menu--mobile
        include ../blocks/modules/categories/categories.pug
        include ../blocks/modules/marketing/marketing.pug
        include ../blocks/modules/pluses/pluses.pug
        include ../blocks/modules/products/products-slider.pug
        include ../blocks/modules/subscribe/subscribe.pug
    include ../blocks/modules/footer/footer.pug
    include ../blocks/modules/popup/popup.pug

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
    