-
    const search_categories = [
        {
            text: 'Проблесковая балка',
            href: '#'
        },
        {
            text: 'Мини-балка',
            href: '#'
        },
        {
            text: 'Балка проблесковая',
            href: '#'
        },
    ]

    const search_products = [
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '2',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
        {
            img: '1',
            code: 'Код: 3568-778',
            name: 'Проблесковая балка 600-950 мм',
            price: '2 500 р.'
        },
    ]