section.notfound
    .l-default
        .notfound__wrapper
            .notfound__wrapper--img
                img(src="img/svg/404.svg", alt="404")
            p.notfound__wrapper--text Страница, которую вы ищете, не существует. Нажмите <a href='/'>сюда</a>, чтоб вернуться к покупкам.