-
    const products = [
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '5',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '4',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '2',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
        {
            code: 'Код: 635781',
            img: '3',
            raiting: '4',
            name: 'Проблесковый маяк',
            price: '3 500 р.',
        },
    ]