-
    const tabs_titles = [
        {
            text: "Описание",
        },
        {
            text: "Доставка",
        },
        {
            text: "Гарантия",
        }
    ]

    const tabs_contents = [
        {
            text: '<p>Комплектность: световая панель, комплект проводов, узел крепления на автомобиль. Светодиодные световые панели СП-6 СД03: состоят из светодиодного модуля и оптимально расположенных зеркал-отражателей. Высокая ударопрочность и устойчивость к ультрафиолетовому излучению плафонов, благодаря использованию высокопрочного поликарбоната. Повышенная герметичность плафонов, что обеспечивает надлежащую защиту изделия от влаги, пыли и других внешних воздействий. Простота и надежность эксплуатации, высокая ремонтопригодность изделий (замена элементов осуществляется ремонтными блоками целиком, либо отдельными модулями). Возможность установки СП на любой тип автомобиля за счет различных габаритов длины основания.12В, 24В.</p><p>Фотон СП-6 светодиодная (арт. 707-1130) - товар зарекомандовавший себя на российском и зарубежном рынке. Наша компания работает напрямую с производителем, поэтому все товары представленные на витрине - оригинальные и качественные. Оформить заказ на сайте можно через корзину или по телефону 8 (800) 707-75-72. Есть возможность оформления заказа в один клик. Доставка осуществляется по всей территории Российской Федерации. Наши специалисты работают для Вас по будням с 9.00 до 18.00 0(по московскому времени). Гарантируем индивидуальный подход к каждому клиенту. Закажите Фотон СП-6 светодиодная прямо сейчас и по привлекательной цене.</p>'
        },
        {
            text: '<p>Комплектность: световая панель, комплект проводов, узел крепления на автомобиль. Светодиодные световые панели СП-6 СД03: состоят из светодиодного модуля и оптимально расположенных зеркал-отражателей. Высокая ударопрочность и устойчивость к ультрафиолетовому излучению плафонов, благодаря использованию высокопрочного поликарбоната. Повышенная герметичность плафонов, что обеспечивает надлежащую защиту изделия от влаги, пыли и других внешних воздействий. Простота и надежность эксплуатации, высокая ремонтопригодность изделий (замена элементов осуществляется ремонтными блоками целиком, либо отдельными модулями). Возможность установки СП на любой тип автомобиля за счет различных габаритов длины основания.12В, 24В.</p><p>Фотон СП-6 светодиодная (арт. 707-1130) - товар зарекомандовавший себя на российском и зарубежном рынке. Наша компания работает напрямую с производителем, поэтому все товары представленные на витрине - оригинальные и качественные. Оформить заказ на сайте можно через корзину или по телефону 8 (800) 707-75-72. Есть возможность оформления заказа в один клик. Доставка осуществляется по всей территории Российской Федерации. Наши специалисты работают для Вас по будням с 9.00 до 18.00 0(по московскому времени). Гарантируем индивидуальный подход к каждому клиенту. Закажите Фотон СП-6 светодиодная прямо сейчас и по привлекательной цене.</p>'
        },
        {
            text: '<p>Комплектность: световая панель, комплект проводов, узел крепления на автомобиль. Светодиодные световые панели СП-6 СД03: состоят из светодиодного модуля и оптимально расположенных зеркал-отражателей. Высокая ударопрочность и устойчивость к ультрафиолетовому излучению плафонов, благодаря использованию высокопрочного поликарбоната. Повышенная герметичность плафонов, что обеспечивает надлежащую защиту изделия от влаги, пыли и других внешних воздействий. Простота и надежность эксплуатации, высокая ремонтопригодность изделий (замена элементов осуществляется ремонтными блоками целиком, либо отдельными модулями). Возможность установки СП на любой тип автомобиля за счет различных габаритов длины основания.12В, 24В.</p><p>Фотон СП-6 светодиодная (арт. 707-1130) - товар зарекомандовавший себя на российском и зарубежном рынке. Наша компания работает напрямую с производителем, поэтому все товары представленные на витрине - оригинальные и качественные. Оформить заказ на сайте можно через корзину или по телефону 8 (800) 707-75-72. Есть возможность оформления заказа в один клик. Доставка осуществляется по всей территории Российской Федерации. Наши специалисты работают для Вас по будням с 9.00 до 18.00 0(по московскому времени). Гарантируем индивидуальный подход к каждому клиенту. Закажите Фотон СП-6 светодиодная прямо сейчас и по привлекательной цене.</p>'
        },
    ]